$accent-one: #212A31;
$accent-two: #2E3944;
$accent-three: #124E66;
$accent-four: #748D92;
$accent-five: #D3D9D4;

$page-side-padding: max(40px, 10%);

$font-size-one: 32px;
$font-size-two: 24px;
$font-size-three: 20px;
$font-size-four: 16px;

$margin-one: 12px;