$accent-one: #323233;
$accent-two: #353434;
$accent-three: #e5e5e5;
$accent-four: #7f7f7f;
$accent-five: #fff;

$page-width: 1130px;

$font-size-one: 32px;
$font-size-two: 24px;
$font-size-three: 18px;
$font-size-four: 16px;

$margin-one: 12px;
$margin-two: 26px;
$margin-three: 40px;


// 970 at 1024
// 728 at 768
// at mobile screen sizes, have width be auto and maintain margins instead.


