@import "../_variables";

.page-wrapper {
  width: $page-width;
}

// here so it can apply to other pages



.link {
  text-decoration: none;
  color: inherit;
  padding: 0;
}

.home {
  
  color: $accent-two;

  

  .banner {
    background-color: $accent-four;
    color: $accent-five;
    height: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-one;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    margin: $margin-three auto;
  }

  .section {
    margin-bottom: 40px;

    .section-header {
      font-size: $font-size-two;
      margin: 0;
      margin-bottom: $margin-one;
    }
    
    // novel cards for popular section
    

    // novel entries for latest releases
    .update-table {
      margin: 0 0 $margin-one 0;

      table {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        
        tr {
          border-top: 0.1px solid #ddd;
        }

        th, td {
          padding: 10px 0;
          
        }

        .name {
          text-align: left;
          width: 38%;
        }

        tbody {

          td {
            text-align: center;
          }

          .link {
            color: $accent-four;
          }

          td .link:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}


