@import "../_variables";

.page-wrapper {
  width: $page-width;
}


.home {
  
  color: $accent-two;

  .link {
    text-decoration: none;
    color: inherit;
    padding: 0;
  }

  .banner {
    background-color: $accent-four;
    color: $accent-five;
    height: 300px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size-one;
    margin-bottom: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    margin: 30px auto;
  }

  .section {
    margin-bottom: 60px;

    .section-header {
      font-size: $font-size-two;
      margin: 0;
      margin-bottom: $margin-one;
    }
    
    // novel cards for popular section
    .novel-card-large-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    
      .novel-card-large {
        width: 15%;
        max-width: 185px; 
        margin-bottom: $margin-one;

        .novel-cover {
          overflow: hidden;
          position: relative;
          margin-bottom: .425rem;
          max-height: 230px;
          // remove from here so the css can be reused
          // use google for better css

          .novel-card-img {
            width: 100%;
            border-radius: 5px;
            box-shadow: 0 0 1px rgba(0, 0, 0, .4);
            
          }

          .badge {
            position: absolute;
            background-color: $accent-two;
            color: $accent-five;
            padding: 3px;
            border-radius: 0 6px 0 0;
            bottom: 4px; // for some reason, there is a space in the image wrapper that isn't covered by the image. that is why I have to push the badge up a bit
            left: 0;   
            z-index: 1;
          }
        }

        .novel-title {
          margin-bottom: .425rem;
  
          h3 {
            margin: 0;
            font-size: $font-size-three;
            font-weight: 500;
          }
        }
      }
    }

    // novel entries for latest releases
    .update-table {
      margin: $margin-one 0;

      table {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        
        tr {
          border-top: 0.1px solid #ddd;
        }

        th, td {
          padding: 10px 0;
          
        }

        .name {
          text-align: left;
          width: 38%;
        }

        tbody {

          td {
            text-align: center;
          }

          .link {
            color: $accent-four;
          }

          .link td:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}


