@import "../_variables";

$tab-wrap-border-radius: 6px;

.novel-page {
  .section {
    margin-bottom: $margin-one;
  }

  .novel-info {


    .library-add-btn {
      background-color: $accent-two;
      color: $accent-five;
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 0;
      cursor: pointer;
    }
  }

  .chapters {

    .tabs {
      display: flex;
      flex-direction: column;
      background: #e5e5e5;
      box-shadow: 0 48px 80px -32px rgba(0, 0, 0, 0.3);

        .tab-headers {
          display: flex;
          flex-direction: row;


          .tab-header {
            width: 20%;
            padding: 20px 30px;
            background: #e5e5e5;
            cursor: pointer;
            font-weight: bold;
            font-size: 18px;
            color: #7f7f7f;
            transition: background 0.1s, color 0.1s;
          }

          .tab-header:hover {
            background: #d8d8d8;
          }
      
          .tab-header.active {
            background: #fff;
            color:#353434;
          }
        }

        .panel {
          display: none;
          background: #fff;

          ul {
            margin: 0 2rem 2rem 2rem;
            padding: 0;
            li {
              list-style: none;
              margin-top: 20px;
              margin-bottom: 0;
              padding: 0;
              font-size: $font-size-three;
              display: flex;
              gap:.5rem;

              .link {
                display: flex;
                &:hover {
                  text-decoration:underline;
                }
              }

            }
          }

          .recent-chapters {
            li {
              display: flex;
              justify-content: space-between;
              .left, .right {
                display: flex;
                gap: 1rem;
              }
            }
          }

          .chapters-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between; /*change this by specifying the flex proportions. it should always be 3 sections regardless of the number of entries.*/
            font-size: $font-size-three;
            li {
              width: 28%;
              font: inherit;
              
              
              span {
                min-width: 75px;
                max-width: 250px;
                // space after the dash??>\
              }
            }
          }
        }
    
        .panel.active {
          display: block;
        }
    } 
  }
}