@import "../../_variables";

.footer{
  background-color: $accent-one;
  color: $accent-five;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: $font-size-three;

  .container {
    width: $page-width;
    margin: 15px auto;
  }
}