@import "../../_variables";

.navbar{
  background-color: $accent-one;
  color: $accent-five;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px $page-side-padding;

    .link {
      text-decoration: none;
      color: inherit;
      padding: 0;
    }

    .logo {
      font-size: $font-size-two;
    }

    .links {
        display: flex;
        gap: 12px;
        

        .link {
          
          h6 {
            margin: 0;
            font-size: $font-size-four;
          }
        }
    }
  }
}