@import "../../_variables";

.navbar{
  background-color: $accent-one;
  color: $accent-five;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: $page-width;
    padding: 15px 0;

    .link {
      text-decoration: none;
      color: inherit;
      padding: 0;
    }

    .logo {
      font-size: $font-size-two;
    }

    .links {
        display: flex;
        gap: 12px;
        
        span {
          cursor: pointer;
        }
        
        .link {
          
          h6 {
            margin: 0;
            font-size: $font-size-four;
          }
        }
    }
  }
}