@import "../../_variables";

.navbar{
  background-color: $accent-one;
  color: $accent-five;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px max(40px, 10%);

    .logo {

    }

    .links {

    }
  }
}